@charset "utf-8";
/* CSS Document */
body {
	background: #2DA3FF ;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	}
* {margin:0; } /*обноление margin по умолчанию*/
h1, h2, h3, h4, h5, h6 {margin: 15px 0 8px 0; color:#00C; text-align:center;}
h1 {font-size:26px;}
h2 {font-size:22px;}
h3 {font-size:20px;}
h4 {font-size:18px;}
h5 {font-size:16px;}
h6 {font-size:14px;}
p {
	margin: 5px 0;
	font-style: italic;
}
img { border:0px;}
a:link {color:#00C;}
a:visited {color:#09F;}
a:hover, a:focus, a:active {text-decoration:none;}
#body_cont { background: url(image/5122012-41.jpg) repeat-x center bottom;}
#conteiner { 
	background:#005EEB;
	width:960px; 
	/*height:1500px;*/
	margin: 0 auto 0 auto; /*Выравнивание по центру*/
	}
#header {background:#0CF url(image/bg_header.jpg) no-repeat center top; height:200px;}
#logo { float:left; padding:10px 0 0 40px; }
#logo_img { width:271px; height:160px; background:url(../img/logo.png) no-repeat;}
#logo_img:hover, #logo_img:focus, #logo_img:active {background:url(../img/logo1.png) no-repeat;}

#contacts { float:right; padding:30px 40px 0 0;}
#social {padding:  0 0 0 30px; }
#social img {margin:0 5px;}
#social img:hover, #social img:focus, #social img:active {opacity:0.75;}
#telephone {
	font-size:22px; 
	padding: 10px 0 0 0; 
	color:#fff; 
	text-shadow: 1px 1px 2px rgba(0, 0, 204, 0.5);}

#nav {background:#00F url(../img/bg_nav.jpg) repeat-x center top; height:56px;}
.nav_batt {float:left; margin:4px 0; border-right: 1px solid #FFF; padding:12px 20px 8px; height:28px;}
.nav_batt:hover, .nav_batt:focus, .nav_batt:active { background:url(../img/bg_nav1.jpg) repeat-x center top; color: #FF0;}
#batt_active { background:url(../img/bg_nav2.jpg) repeat-x center top;}
#nav a {color:#FFF; text-decoration:none; text-transform:uppercase; font-size:20px;}
#content {
	background:#FFF; 
	margin: 0 200px 0 200px;
	padding: 10px 20px 20px 20px;
	}
#content p {
	text-indent: 30px;
	text-align:justify;
}
#content ul {
	list-style-image: url(../img/BLU1CIRC.GIF);
 }
#content li {margin-bottom: 6px; font-size:85%;}
#bar_left {width:200px; float:left;}
#bar_left ul { margin: 20px 0; padding-left: 20px; /*list-style-image:url(../img/BLU1CIRC1.gif);*/}
#bar_left li { 
	margin: 6px 20px 6px 0; 
	border-bottom: 1px solid #FFF;
	padding: 6px 0 6px 24px;
	list-style:none;
	background:url(../img/BLU1CIRC1.gif) no-repeat 2px 7px;
	}
#bar_left li:hover, #bar_left li:focus, #bar_left li:active {
	background:url(../img/BLU1CIRC.gif) no-repeat 2px 7px;}
#bar_left ul a { font-size:18px; text-decoration:none;}
#bar_left ul a:link {color:#fff;}
#bar_left ul a:visited {color: #97FFFF;}
#bar_left ul a:hover, #bar_left ul a:focus, #bar_left ul a:active { }
#bar_right {width:200px; height:400px; background:#FF9; float:right;}
#bar_right emebed {margin: 20px 10px}
#footer {background:#00F url(../img/bg_footer.jpg) no-repeat center top; height:140px; clear:both;}
#copyright { text-align:right; padding:110px 20px 0 0; margin:0;}
#copyright a { color:#CCC; text-decoration:none; }
.img_left {float:left; margin: 0 15px 5px 0; border: 2px solid #00C;}
.img_right { float:right; margin: 0 0 5px 15px; border: 2px solid #00C;}
.seperator {clear:both;}
